@use '../../audioStyles.module.scss';

$red: rgba(255,91,91,1);
$pink: #c252e1;
$blue: #6ecbf5;
$subtle-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

.container {
    @include audioStyles.defaultTheme;
    width: 100%;
    max-width: 1000px;
    // margin-top: -10px;
    margin: 0px;
    margin-bottom: 10px;
    form {
        background-color: aqua;
        padding: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: white;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 20px;
        font-weight: 600;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 450px) { 
            width: auto;
        }
        gap: 20px;
        div {
            @include audioStyles.flexCenterCenter;
            input[type=text] {
                border-style: solid;
                border-radius: 10px;
                border-width: 1px;
                width: 100%;
                padding-left: 20px;
                margin-left: 20px;
                font-size: 20px;
                color:rgb(51, 51, 51);
            }
            input[type=checkbox] {
                width: 100px;
            }
        }
        input {
            height: 50px;
        }
        button {
            background-color: $blue;
            border-style: none;
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
            color: white;
            cursor: pointer;
            box-shadow: $subtle-shadow;
            align-self: center;
            font-size: 20px;
            &:hover {
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px;
                }
                &:active {
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                }
            }
        }
        .cancelNewUser {
            background-color: white;
            color: #6ecbf5;
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,$red 0px 0px 0px 3px;
                color: $red;
            }
        }
    }

    .userList {
        margin: 0px;
        padding: 10px;
        
        ul {
            list-style: none;
            margin: 0px;
            padding: 0;
        }
        .addUserButtonContainer {
            display: flex;
            cursor: pointer;
            background-color: #ffffff00;
            div {
                // min-width: 150px;
                width: 100%;
                box-shadow: $subtle-shadow;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // justify-self: flex-end;
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 10px;
                svg {
                    padding-top: 10px;
                    fill: white;
                }
                p {
                    color: white;
                    padding-bottom: 10px;
                    margin: 0px;
                }
                &:hover {
                    // background-color: white;
                    // svg { fill: black;}
                    // p { color: black;}
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px;
                }
                &:active {
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                    
                }
            }    
        }

        .userListItem {
            overflow: scroll;
            border-radius: 10px;
            padding: 10px;
            box-shadow: $subtle-shadow;
            background-color: white;
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width: 700px) { 
                flex-direction: column;
                justify-content: center;
                // align-items: center;
                
            }

            .idCard {
                display: flex;
                align-items: center;
                gap: 20px;

                .nextImageWrapper {
                    width: 100px;
                    height: 100px;
                    min-width: 100px;
                    min-height: 100px;
                    position: relative;
                    border-radius: 50%;
                    overflow: 'hidden';
                    box-shadow: $subtle-shadow;
                    // z-index: 2;
                    .nextImage {
                        // z-index: 2;
                        // z-index: 2;
                        border-radius: 50%;
                        
                    }
                }
                .idCardTextItem {
                    border-left-style: solid;
                    border-width: 2px;
                    padding-left: 10px;
                    margin: 5px;
                    border-color: $blue;
                    // border-color: black;
                    
                    // background-color: #6ecbf5;
                }
            }

            .actionButtons {
                display: flex;
                flex-direction: row;
                @media (max-width: 400px) { 
                    width: 100%;
                    flex-direction: column;
                    align-self: center;
                }
            }
            .giveAdmin {

                border-style: solid;
                border-width: 2px;
                color: white;
                background-color: $blue;
                border-color: $blue;
                svg {
                    fill: white;
                }
                
                border-radius: 10px;
            }
            .removeAction {
                border-style: solid;
                border-width: 2px;
                border-color: rgba(255,91,91,1);
                border-radius: 10px;
                // margin: 10px;
                // padding: 3px;
                
                // background-color: red;
            }
            .removeAccess {
                border-color:rgba(255, 255, 255, 0);
                background-color: $red;
                // padding: 10px;
                color: white;
                svg {
                    fill: white;
                }
                &:hover {
                    // padding: 10px;
                    border-color: rgb(0, 0, 0);
                }
            }
            button {
                box-shadow: $subtle-shadow;
                min-width: 150px;
                cursor: pointer;
                padding: 10px;
                color: $red;
                background-color: white;
                border-style: none;
                margin-left: 10px;
                @media (max-width: 700px) { 
                    margin-left: 0px;
                    margin: 10px;
                }
                svg {
                    fill: $red;
                }
                p {
                    margin: 0px;
                    padding: 0px;
                }
                &:hover {
                    background-color: black;
                    border-color: black;
                    color: white;
                    svg {
                        fill: white;
                    }
                }
            }
        }
    }
}