@use '../../audioStyles.module.scss';

$red: rgba(255,91,91,1);
$pink: #c252e1;
$blue: #6ecbf5;
$subtle-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

.container {

    @include audioStyles.defaultTheme;

    width: 100%;
    // padding: 50px;
    // margin: 10px;
    // background-color: aqua;
    max-width: 1000px;
    // border-radius: 10px;
    // margin: 10px;
    // margin: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    // @media (max-width: 1000px) { 
    //     margin: 0px;
        
    // }
    margin: 0px;
    form {
        background-color: aqua;
        padding: 10px;
        margin: 10px;
        margin-bottom: 0px;
        border-radius: 10px;
        background-color: white;
        
    }
    .userList {
        // list-style: none;
        margin: 0px;
        padding: 10px;
        // display: grid;
        
        ul {
            // background-color: #6ecbf5;
            // display: grid;
            list-style: none;
            margin: 0px;
            padding: 0;
            // background-color: #c252e1;
        }
        .addUserButtonContainer {
            display: flex;
            // flex-direction: column;
            // width: 100%  ;
            // background-color: #6ecbf5;

            cursor: pointer;
            // align-items: flex-end;
            // justify-content: flex-end;



            // width: 100px;
            // padding-top: 10px;
            background-color: #ffffff00;
            div {
                // min-width: 150px;
                width: 100%;
                box-shadow: $subtle-shadow;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // justify-self: flex-end;
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 10px;
                svg {
                    padding-top: 10px;
                    fill: white;
                }
                p {
                    color: white;
                    padding-bottom: 10px;
                    margin: 0px;
                }
                &:hover {
                    background-color: white;
                    svg { fill: black;}
                    p { color: black;}
                }
            }
            
            
            
        }
        .userListItem {
            overflow: scroll;
            border-radius: 10px;
            padding: 10px;
            box-shadow: $subtle-shadow;
            background-color: white;
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .idCard {
                display: flex;
                align-items: center;
                gap: 20px;
                // font-weight: 200;
                // background-color: rgb(0, 0, 0);

                .nextImageWrapper {
                    width: 100px;
                    height: 100px;
                    min-width: 100px;
                    min-height: 100px;
                    position: relative;
                    border-radius: 50%;
                    overflow: 'hidden';
                    box-shadow: $subtle-shadow;
                    // z-index: 2;
                    .nextImage {
                        // z-index: 2;
                        // z-index: 2;
                        border-radius: 50%;
                        
                    }
                }
                .idCardTextItem {
                    border-left-style: solid;
                    border-width: 2px;
                    padding-left: 10px;
                    margin: 5px;
                    border-color: $blue;
                    
                    // background-color: #6ecbf5;
                }
            }


            .actionButtons {
                display: flex;
                flex-direction: row;
                // align-items: center;
                align-self: flex-end;
                // background-color: #c252e1;
                @media (max-width: 400px) { 
                    width: 100%;
                    flex-direction: column;
                    align-self: center;
                    // margin: 10px;
                    
                }
                // height: 100px;
            }
            .giveAdmin {

                border-style: solid;
                border-width: 2px;
                color: white;
                background-color: $blue;
                border-color: $blue;
                svg {
                    fill: white;
                }
                
                border-radius: 10px;
            }
            .removeAction {
                border-style: solid;
                border-width: 2px;
                border-color: rgba(255,91,91,1);
                border-radius: 10px;
                // margin: 10px;
                // padding: 3px;
                
                // background-color: red;
            }
            .removeAccess {
                border-color:rgba(255, 255, 255, 0);
                background-color: $red;
                // padding: 10px;
                color: white;
                svg {
                    fill: white;
                }
                &:hover {
                    // padding: 10px;
                    border-color: rgb(0, 0, 0);
                }
            }
            button {
                box-shadow: $subtle-shadow;
                // width: 200px;
                min-width: 150px;
                cursor: pointer;
                // min-height: 100px;
                padding: 10px;
                color: $red;
                background-color: white;
                border-style: none;
                // background-color: green;
                // margin: 10px;
                margin-left: 10px;
                @media (max-width: 400px) { 
                    margin-left: 0px;
                    margin: 10px;
                    // width: 100%;
                    // align-self: center;
                    // margin: 10px;
                    
                }
                // gap: 10px;
                // display: flex;
                // flex-direction: column;
                svg {
                    fill: $red;
                    
                }
                p {
                    margin: 0px;
                    padding: 0px;
                }
                &:hover {
                    background-color: black;
                    border-color: black;
                    color: white;
                    svg {
                        fill: white;
                    }
                }
            }
        }
    }

}